.container
{
  width:30%;
  height: 100%;
  background-color: rgb(91, 233, 186);
  margin: 1% 33%;
  
  font-weight: bold;
  border-radius: 10px;
}
.info-container{
  margin-left: 10px;
  height: 60%;

}

.emp_image{
  width: 30vw;
  height: 40vh;
  border-radius: 10px;
  margin: 5px 5px;
  
}

h1{
  color:rgb(60, 60, 211);
  font-size: 60px;
}
.general{
  color:gray;
  
}